    .body-formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;
    }

    .body-formulario h1 {
        font-size: 45px;
        margin-bottom: 25px;
        margin-top: 30px;
        font-weight: bold
    }

    .body-formulario h1 span {
        color: var(--purple-color);
    }

    .body-formulario p,
    .body-formulario div p {
        font-size: 18px;
    }


    .body-formulario .paragrafoF {
        margin-left: -12%;
    }



    .checks {
        width: 58%;
        margin-left: 14%;
    }

    .checks p svg {
        font-size: 22px;
        margin-right: 0.6vw;
    }

    .body-formulario h3 {
        font-size: 23px;
    }

    .body-formulario h6 {
        color: rgb(146, 146, 146);
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 4%;
    }

    .body-formulario label {
        font-weight: 500;
        display: block;
        margin-bottom: 5px;
    }

    .body-formulario select {
        background-color: transparent;
        border: 1px solid #fff;
        width: 40vw;
        color: var(--white-color);
        outline: none;
        border-radius: 4px;
        height: 6.7vh;
        padding-left: 1%;
        margin-bottom: 3%;
        font-size: 15px;
    }

    .body-formulario input {
        background-color: transparent;
        border: 1px solid #fff;
        width: 40vw;
        color: var(--white-color);
        outline: none;
    }

  

    .box-campo section {
        display: flex;
        justify-content: space-between;
    }

    .box-campo section input,
    .box-campo section select {
        width: 20.2vw;
    }

    .box-campo section input {
        width: 18.7vw;
    }

    .box-campo p {
        width: 40vw;
        font-size: 15px !important;
    }

    .body-formulario .confirmar {
        background-color: var(--purple-color);
        border-radius: 10px;
        font-size: 17px;
        text-align: center;
        padding: 9px 30px !important;
        border: none;
        color: #fff;
        transition: 0.4s ease-in;
        cursor: pointer;
        margin-top: 2.5%;
        font-weight: 600;
    }

    .body-formulario .confirmar:hover {
        color: var(--white-color);
        background-color: #920092;
    }

    .check {
        width: 40vw;
        display: flex;
        align-items: center;
        margin-top: 5%;
    }

    .check input {
        width: 5vw;
        height: 2.5vh;
    }


    input[type="date"] {
        color: var(--white-color);
    }

    .textarea {
        background-color: transparent;
        border: 1px solid #fff;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        color: var(--white-color);

    }
    

    .box-campo section {
        display: flex;
        justify-content: space-between;
        width: 89%;
    }
    
    .box-campo section input,
    .box-campo section select {
        width: 146%;
    }
    
    .box-campo section input {
        width: 130%;
        color: gray;
    }

    @media (max-width: 1080px) {

        .body-formulario h1 {
            font-size: 32px;
            width: 82%;
        }

        .body-formulario .paragrafoF {
            margin-left: 9%;
            margin-bottom: 10%;
        }

        .body-formulario p {
            font-size: 15px;
            margin-left: 8%;
        }

        .body-formulario .checkp {
            font-size: 15px;
            margin-left: -27%;
            margin-right: 0px;
        }

        .body-formulario div p {
            font-size: 15px;
            margin-left: 0%;
            margin-bottom: 10%;
        }

        .box-campos section input {
            width: 100%;
        }


        .body-formulario input {
            width: 100%;
        }

        .box-campo p {
            width: 80vw;
        }

        .body-formulario select {
            width: 100%;
        }

        .box-campo section {
            display: flex;
            flex-direction: column;
            /* Coloca os itens um abaixo do outro */
        }

        .box-campo section input {
            width: 100%;
        }

        .box-campo section select {
            width: 100%;
        }

        .check {
            width: 95vw;
            margin-bottom: 5%;
            margin-right: 40px;
        }
    }

    @media (min-width: 1700px) {
        .body-formulario h3 {
            font-size: 28px;
        }

        .body-formulario p {
            width: 40vw;
            font-size: 20px !important;
        }

        .body-formulario .paragrafoF {
            margin-left: 5%;
        }

        .checks {
            margin-left: 22.5%;
        }

        .body-formulario label {
            font-weight: 500;
            font-size: 19px;
        }

        .body-formulario input {
            background-color: transparent;
            border: 1px solid #fff;
            width: 40vw;
            color: var(--white-color);
            outline: none;
            font-size: 27px;
        }

        .botaoFormulario {
            font-size: 20px;
            margin-bottom: 15%;
            margin-top: 10px;
        }


    }